span {
    margin: 6px;
  }

.container{
  display: flex;
  flex-direction: row;
}

.dice-check-container{
  display: flex;
  flex-direction: column;
}

.dice{
  padding: 4px;
  background-color: tomato;
  width: 100px;
  height: 100px;
  border-radius: 10%;
  margin: 10px;
}

.dot{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}

.first-face{
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face{
  display: flex;
  justify-content: space-between;
}

.second-face .dot:nth-of-type(2){
  align-self: flex-end;
}

.third-face{
  display: flex;
  justify-content: space-between;
}

.third-face .dot:nth-of-type(2){
  align-self: center;
}

.third-face .dot:nth-of-type(3){
  align-self: flex-end;
}

.forth-face{
  display: flex;
  justify-content: space-between;
}

.forth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sixth-face{
  display: flex;
  justify-content: space-between;
}

.sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.fifth-face{
  display: flex;
  justify-content: space-between;
}

.fifth-face .column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2){
  justify-content: center;
}
